@tailwind base;
@tailwind components;
@tailwind utilities;
@charsetimport url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Roboto:wght@400;500;700&family=Fira+Code:wght@400;500&display=swap');

:root {
  --font-header: var(--font-montserrat);
  --font-body: var(--font-roboto);
  --font-code: var(--font-fira-code);
}
body {
  font-family: var(--font-body);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
}
code,
pre {
  font-family: var(--font-code);
}
